body{
    padding: 0;
    margin: 0;
}

.boxcenter{
    width: 70%;
    margin: 0 auto;
}

.row-handmake{
    width: 100%;
    float: left;
}

/* menu */
.bg-menu{
    width: 100%;
    height: 3.2rem;
    /* background-color: darkcyan; */
    position: fixed;
    z-index: 90;
    transition:all 0.5s;
    &.menuShadow{
        background-color: rgb(255, 189, 189);
        box-shadow: 0 4px 30px -5px rgba(#000, 0.2);
        padding: 15px 0px;
        height: 5rem;
    }
    .boxcenter{
        display: flex;
        .logo{
            width: 20%;
            height: 3.2rem;
            /* background-color: darkgoldenrod; */
        }
        .menu{
            width: 80%;
            height: 3.2rem;
            /* background-color: darkgrey; */
            text-align: right;
            ul{
                padding: 0;
                margin: 0;
                li{
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    display: inline-block;
                    font-family: 'Oswald', sans-serif;
                    margin: 10px;
                    a{
                        color: black;
                        transition: 0.5s;
                    }
                    a:hover{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
}
/* /menu */

header{
    .bg-header{
        width: 100%;
        height: 53.2rem;
        /* background-color: rgb(247, 189, 189); */
        .bg-dot{
            width: 4%;
            height: 50rem;
            /* background-color: darkred; */
            position: absolute;
            left: 0;
            z-index: 3;
            .box-dot-line{
                .row-handmake{
                    margin-top: 25rem;
                    .dot{
                        width: 25%;
                        height: 1rem;
                        border-radius: 50px;
                        background-color: yellow;
                        margin: 10px auto;
                    }
                    .line{
                        width: 3px;
                        height: 17rem;
                        background-color: #d67272;
                        margin: 0 auto;
                    }
                }
            }
        }
        .bg-position-for-header{
            width: 85%;
            height: 53.2rem;
            background-image: linear-gradient(to bottom right,rgba(255, 241, 241, 0.048),rgba(240, 166, 166, 0.466),rgba(240, 70, 70, 0.527));
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            border-radius: 0px 0px 10px 0px;
        }
        .bg-position-for-bg-right{
            width: 28%;
            height: 50rem;
            background-color: #ffd2d2;
            position: absolute;
            right: 13rem;
            z-index: -1;
            top: 0;
            border-radius: 0px 0px 5px 5px;
            box-shadow:
            0 0.1px 0.5px rgba(0, 0, 0, 0.025),
            0 0.4px 1.1px rgba(0, 0, 0, 0.036),
            0 0.8px 2.1px rgba(0, 0, 0, 0.045),
            0 1.5px 3.8px rgba(0, 0, 0, 0.054),
            0 2.9px 7.1px rgba(0, 0, 0, 0.065),
            0 7px 17px rgba(0, 0, 0, 0.09)
            ;
        }
        .bg-position-line-outside{
            position: absolute;
            width: 2px;
            height: 20rem;
            top: 0;
            right: 195px;
            background-color: #d67272;
        }
        .boxcenter{
            display: flex;
            .bg-left{
                width: 50%;
                height: 50rem;
                /* background-color: blue; */
                display: flex;
                margin-top: 50px;
                .bg-img-left{
                    width: 70%;
                    height: 50rem;
                    /* background-color: cornsilk; */
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                    }
                    .button-next{
                        position: absolute;
                        top: 22rem;
                        right: -2rem;
                        width: 15%;
                        height: 8%;
                        border-radius: 50px;
                        background-color: rgb(245, 159, 159);
                        z-index: 1;
                        text-align: center;
                        line-height: 4rem;
                        box-shadow:
                        0 0.1px 0.5px rgba(0, 0, 0, 0.025),
                        0 0.4px 1.1px rgba(0, 0, 0, 0.036),
                        0 0.8px 2.1px rgba(0, 0, 0, 0.045),
                        0 1.5px 3.8px rgba(0, 0, 0, 0.054),
                        0 2.9px 7.1px rgba(0, 0, 0, 0.065),
                        0 7px 17px rgba(0, 0, 0, 0.09)
                        ;
                        /* animation: next 1s infinite; */
                    }
                }
                .bg-number{
                    width: 20%;
                    height: 50rem;
                    /* background-color: chocolate; */
                    position: absolute;
                    top: 3.2rem;
                    left: -10px;
                    .number{
                        font-size: 18vw;
                        margin-top: -6.13rem;
                        margin-left: -0.5rem;
                        font-family: 'Anton', sans-serif;
                        color: rgba(240, 70, 70, 0.527);
                        letter-spacing: 35px;
                    }
                }
            }
            .bg-right{
                width: 50%;
                height: 50rem;
                /* background-color: burlywood; */
                .bg-text-right{
                    width: 70%;
                    height: 50rem;
                   /*  background-color: cyan; */
                    float: right;
                    .text-right{
                        width: 100%;
                        height: 32rem;
                        /* background-color: darksalmon; */
                        .row{
                            margin-left: 0;
                            margin-right: 0;
                            .text{
                                font-size: 3vw;
                                margin-top: 10vw;
                                font-family: 'Anton', sans-serif;
                                letter-spacing: 2px;
                                padding: 8px;
                                color: white;
                                .span1{
                                    color: rgb(240, 98, 98);

                                }
                                .span2{
                                    color: rgb(223, 67, 67);
                                    position: relative;
                                    &::before{
                                        content: "";
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        width: 25vh;
                                        height: 2px;
                                        background-color: rgb(230, 30, 30);
                                    }
                                }
                            }
                        }
                    }
                    .button-header-right{
                        width: 100%;
                        height: 5rem;
                        /* background-color: yellow; */
                        .button-more{
                            text-align: right;
                            a{
                                padding: 10px 20px;
                                border-radius: 30px;
                                color: rgb(121, 7, 7);
                                border: solid 1px white;
                                transition: 0.5s;
                            }
                            a:hover{
                                text-decoration: none;
                                background-color: rgb(235, 77, 103);
                                border: solid 1px rgb(235, 77, 103);
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}
//header

/* article */
article{
    /* about us */
    .bg-about-us{
        width: 100%;
        height: 45rem;
        /* background-color: yellowgreen; */
        .boxcenter{
            display: flex;
            .bg-img-about{
                width: 50%;
                height: 45rem;
                /* background-color: red; */
                .row-handmake{
                    .box-img{
                        width: 70%;
                        height: 30rem;
                        /* background-color: rgb(245, 159, 159); */
                        margin-top: 5rem;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            display: block;
                        }
                    }
                }
            }
            .bg-text-about{
                width: 50%;
                height: 45rem;
                /* background-color: rgb(61, 11, 11); */
                .box-text{
                    width: 90%;
                    height: 30rem;
                    /* background-color: rgb(245, 159, 159); */
                    margin: 5rem auto;
                    .title-about{
                        text-align: center;
                        font-size: 2vw;
                        font-family: 'Anton', sans-serif;
                        color: rgb(184, 36, 36);
                    }
                    .text-about{
                        p::first-letter{
                            color: rgb(216, 39, 39);
                            border-radius: 2px;
                            font-size: 3.5vw;
                            padding: 0px 2px;
                            margin-right: 6px;
                            float: left;
                        }
                        p{
                            font-family: 'Asap Condensed', sans-serif;
                            color: rgb(245, 159, 159);
                        }
                    }
                    .box-button-about{
                        width: 100%;
                        height: 10rem;
                        /*   */
                        .icon-about{
                            .instagram, .twitter, .facebook, .pinterest{
                              cursor: pointer;
                              border: 1px solid black;
                              color: rgb(216, 39, 39);
                              font-size: 1vw;
                              width: 45%;
                              min-height: 2rem;
                              text-align: center;
                              padding: 1rem 0rem;
                              margin-top: 1rem;
                              transition: 0.5s;
                            }
                            .instagram:hover{
                              background-color: rgb(236, 159, 159);
                              border: 1px solid rgb(236, 159, 159);
                              color: white;
                            }
                            .twitter:hover{
                              background-color: rgb(42, 130, 165);
                              border: 1px solid rgb(42, 130, 165);
                              color: white;
                            }
                            .facebook:hover{
                              background-color: rgb(42, 95, 165);
                              border: 1px solid rgb(42, 95, 165);
                              color: white;
                            }
                            .pinterest:hover{
                              border: 1px solid rgb(204, 58, 58);
                              color:white;
                              background-color:rgb(204, 58, 58) ;
                            }
                        }
                    }
                }
            }
        }
    }
    /* /about us */

    /* help */
    .bg-help{
        width: 100%;
        height: 45rem;
        background-color: rgb(255, 221, 221);
        .boxcenter{
            display: flex;
            .box-help-left{
                width: 70%;
                height: 45rem;
                /* background-color: rebeccapurple; */
                .box-help-text{
                    width: 120%;
                    height: 15rem;
                    /* background-color: bisque; */
                    color: #b82424;
                    font-size: 3vw;
                    font-family: 'Anton', sans-serif;
                    position: relative;
                    z-index: 10;
                    .span1{
                        font-size: 3vw;
                        color: rgb(236, 83, 83);
                        font-family: 'Anton', sans-serif;
                    }
                    .span2{
                        font-size: 3vw;
                        color: rgb(219, 81, 81);
                        font-family: 'Dancing Script', cursive;
                    }
                }
                .box-help-img-left{
                    width: 100%;
                    height: 30rem;
                    /* background-color: rgb(133, 82, 20); */
                    display: flex;
                    .box-help-img-1{
                        width: 48%;
                        height: 100%;
                        /* background-color: blue; */
                        margin-right: 2%;
                        position: relative;
                        overflow: hidden;
                        border-radius: 10px 0px 0px 0px;
                        &::before{
                            content: "";
                            position: absolute;
                            bottom: -100px;
                            left: 0;
                            width: 100%;
                            height: 100px;
                            background-color: #d4d4d483;
                            transition: 0.5s;
                        }
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            display: block;
                            overflow: hidden;

                        }
                    }
                    .box-help-img-1:hover::before{
                        bottom: 0px;
                    }
                    .box-help-img-2{
                        width: 48%;
                        height: 100%;
                        /* background-color: rgb(212, 24, 24); */
                        .box-help-img-2a{
                            width: 100%;
                            height: 48%;
                            /* background-color: rgb(87, 8, 8); */
                            margin-bottom: 4.5%;
                            position: relative;
                            overflow: hidden;
                            .title-help-2a{
                                position: absolute;
                                bottom: -100px;
                                left: 0;
                                width: 100%;
                                height: 100px;
                                background-color: #d4d4d483;
                                transition: 0.5s;
                            }
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                display: block;
                                overflow: hidden;
                            }
                        }
                        .box-help-img-2a:hover .title-help-2a, .box-help-img-2b:hover .title-help-2b{
                            bottom: 0px;
                        }
                        .box-help-img-2b{
                            width: 100%;
                            height: 48%;
                            /* background-color: rgb(87, 8, 8); */
                            position: relative;
                            overflow: hidden;
                            .title-help-2b{
                                position: absolute;
                                bottom: -100px;
                                left: 0;
                                width: 100%;
                                height: 100px;
                                background-color: #d4d4d483;
                                transition: 0.5s;
                            }
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                display: block;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
            .box-help-right{
                width: 30%;
                height: 45rem;
                /* background-color: yellow; */
                .box-help-img-right{
                    width: 171.5%;
                    height: 45rem;
                   /*  background-color: red; */
                    .box-help-img-3{
                        width: 100%;
                        height: 100%;
                        /* background-color: rgb(87, 8, 8); */
                        position: relative;
                        overflow: hidden;
                        .title-help{
                            position: absolute;
                            bottom: -100px;
                            left: 0;
                            width: 100%;
                            height: 100px;
                            background-color: #d4d4d483;
                            transition: 0.5s;
                        }
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            display: block;
                            overflow: hidden;
                        }
                    }
                    .box-help-img-3:hover .title-help{
                        bottom: 0px;
                    }
                }
            }
        }
    }
    /* /help */

    /* phan select */
    .mainCount{
        .boxcenter{
            .box-select{
                &::before{
                    content: "";
                    position: absolute;
                    top: 35px;
                    left:0px;
                    width: 44%;
                    height: 1px;
                    background-color: brown;
                }
                width: 100%;
                height: 5rem;
                /* background-color: blanchedalmond; */
                text-align: center;
                margin-top: 4rem;
                position: relative;
                    &::after{
                        content: "";
                        position: absolute;
                        top: 35px;
                        right: 0px;
                        width: 44%;
                        height: 1px;
                        background-color: brown;
                    }
                select {
                    margin-top: 1rem;
                    padding: 10px 20px;
                    background-color: #f1f1f1;
                    border: none;
                    box-shadow:
                    0 0px 0.4px rgba(0, 0, 0, 0.022),
                    0 0px 0.9px rgba(0, 0, 0, 0.032),
                    0 0px 1.8px rgba(0, 0, 0, 0.04),
                    0 0px 3.1px rgba(0, 0, 0, 0.048),
                    0 0px 5.8px rgba(0, 0, 0, 0.058),
                    0 0px 14px rgba(0, 0, 0, 0.08)
                    ;
                    border-radius: 5px;
                }
            }
        }
    }
    /* phan select */

    /* calo */
    .bg-calo{
        width: 100%;
        /* min-height: 45rem; */
        min-height: 25rem;
        /* background-color: yellowgreen; */
        margin-top: 5rem;
        transition: 1s;
        margin-bottom: 5rem;
        .boxcenter{
            .bg-calo-title{
                width: 100%;
                height: 10rem;
                /* background-color: blue; */
                .calo-title{
                    font-size: 2vw;
                    color: #b82424;
                    font-family: 'Anton', sans-serif;
                    text-align: center;
                }
                .calo-small{
                    font-size: 1.2vw;
                    color: #b82424;
                    font-family: 'Signika', sans-serif;
                    text-align: center;
                }
            }
        }
        .bg-display-calo{
            .boxcenter{
                width: 70%;
                min-height: 25rem;
                background-color: white;
                box-shadow:
                0 0px 0.4px rgba(0, 0, 0, 0.022),
                0 0px 0.9px rgba(0, 0, 0, 0.032),
                0 0px 1.8px rgba(0, 0, 0, 0.04),
                0 0px 3.1px rgba(0, 0, 0, 0.048),
                0 0px 5.8px rgba(0, 0, 0, 0.058),
                0 0px 14px rgba(0, 0, 0, 0.08)
              ;
                border-radius: 10px;
                display: flex;
                .bg-calo-left{
                    width: 50%;
                    height: 100%;
                    /* background-color: yellow; */
                    padding: 30px 70px;
                    .bg-calo-form{
                        width: 100%;
                        height: 100%;
                        /* background-color: blueviolet; */
                        padding: 20px;
                        .calo-form-title{
                            font-family: 'Merriweather Sans', sans-serif;
                            font-size: 1.5vw;
                            font-weight: 900;
                            margin-bottom: 50px;
                            color: #b82424;
                            text-align: center;
                            .calo-form-title-small{
                                font-family: 'Signika', sans-serif;
                                font-size: 1vw;
                                color: rgb(190, 190, 190);
                                letter-spacing: 5px;
                            }
                        }
                        form{
                            .form-group{
                                label{
                                    font-family: 'Noto Sans', sans-serif;
                                    font-size: 1vw;
                                    font-weight: bold;
                                    color: #545151;
                                }
                                input{
                                    border-radius: 5px;
                                    background-color: #f1f1f1;
                                    border: none;
                                }
                                select{
                                    border-radius: 5px;
                                    background-color: #f1f1f1;
                                    border: none;
                                }
                                .calc{
                                    padding: 5px 20px;
                                    background-color: white;
                                    border: solid deeppink 1px;
                                    font-family: 'Signika', sans-serif;
                                    transition: 0.5s;
                                    border-radius: 5px;
                                    width: 50%;
                                    margin-top: 2rem;
                                }
                                .calc:hover{
                                    cursor: pointer;
                                    background-color: rgb(253, 151, 151);
                                    border: solid rgb(253, 151, 151) 1px;
                                    color: white;
                                }
                            }
                        }

                    }
                }
                .bg-calo-right{
                    width: 50%;
                    min-height: 100%;
                    /* background-color: red; */
                    .bg-calo-show{
                        width: 100%;
                        min-height: 100%;
                        background-color: #ffffff;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(206,960,468)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffc2b5'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='1354' height='1128.3' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
                        background-attachment: fixed;
                        background-size: cover;
                        border-radius: 0px 10px 10px 0px;
                        text-align: center;
                        font-family: 'Signika', sans-serif;
                        font-size: 1vw;
                        padding: 120px 55px 0px 55px;
                        color: #dd4e4e;
                        .calo-about-title{
                            font-size: 1.5vw;
                            color: #b82424;
                        }
                    }
                }
            }
        }
    }
    /* /calo */

    /* bmi */
    .bg-bmi{
        width: 100%;
        min-height: 25rem;
        /* background-color: yellowgreen; */
        margin-top: 5rem;
        transition: 1s;
        margin-bottom: 5rem;
        .boxcenter{
            .bg-bmi-title{
                width: 100%;
                height: 10rem;
                /* background-color: blue; */
                .bmi-title{
                    font-size: 2vw;
                    color: #b82424;
                    font-family: 'Anton', sans-serif;
                    text-align: center;
                }
                .bmi-small{
                    font-size: 1.2vw;
                    color: #b82424;
                    font-family: 'Signika', sans-serif;
                    text-align: center;
                }
            }
        }
        .bg-display-bmi{
            .boxcenter{
                width: 70%;
                min-height: 25rem;
                background-color: white;
                box-shadow:
                0 0px 0.4px rgba(0, 0, 0, 0.022),
                0 0px 0.9px rgba(0, 0, 0, 0.032),
                0 0px 1.8px rgba(0, 0, 0, 0.04),
                0 0px 3.1px rgba(0, 0, 0, 0.048),
                0 0px 5.8px rgba(0, 0, 0, 0.058),
                0 0px 14px rgba(0, 0, 0, 0.08)
              ;
                border-radius: 10px;
                display: flex;
                .bg-bmi-left{
                    width: 50%;
                    min-height: 100%;
                    /* background-color: yellow; */
                    .bg-bmi-show{
                        width: 100%;
                        min-height: 100%;
                        background-color: #ffffff;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(206,960,468)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffc2b5'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='1354' height='1128.3' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
                        background-attachment: fixed;
                        background-size: cover;
                        border-radius: 10px 0px 0px 10px;
                        text-align: center;
                        font-family: 'Signika', sans-serif;
                        font-size: 1vw;
                        padding: 120px 55px 0px 55px;
                        color: #dd4e4e;
                        .bmi-about-title{
                            font-size: 1.5vw;
                            color: #b82424;
                        }
                    }
                }
                .bg-bmi-right{
                    width: 50%;
                    min-height: 25rem;
                    /* background-color: red; */
                    padding: 30px 70px;
                    .bg-bmi-form{
                        width: 100%;
                        min-height: 100%;
                        /* background-color: blueviolet; */
                        padding: 20px;
                        .bmi-form-title{
                            font-family: 'Merriweather Sans', sans-serif;
                            font-size: 1.5vw;
                            font-weight: 900;
                            margin-bottom: 50px;
                            color: #b82424;
                            text-align: center;
                            .bmi-form-title-small{
                                font-family: 'Signika', sans-serif;
                                font-size: 1vw;
                                color: rgb(190, 190, 190);
                                letter-spacing: 5px;
                            }
                        }
                        form{
                            .form-group{
                                label{
                                    font-family: 'Noto Sans', sans-serif;
                                    font-size: 1vw;
                                    font-weight: bold;
                                    color: #545151;
                                }
                                input{
                                    border-radius: 5px;
                                    background-color: #f1f1f1;
                                    border: none;
                                }
                                select{
                                    border-radius: 5px;
                                    background-color: #f1f1f1;
                                    border: none;
                                }
                                .calc{
                                    padding: 5px 20px;
                                    background-color: white;
                                    border: solid deeppink 1px;
                                    font-family: 'Signika', sans-serif;
                                    transition: 0.5s;
                                    border-radius: 5px;
                                    width: 50%;
                                    margin-top: 2rem;
                                }
                                .calc:hover{
                                    cursor: pointer;
                                    background-color: rgb(253, 151, 151);
                                    border: solid rgb(253, 151, 151) 1px;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /* /bmi */

    /* ti le mo */
    .bg-ti_le_mo{
        width: 100%;
        min-height: 25rem;
        /* background-color: yellowgreen; */
        margin-top: 5rem;
        transition: 1s;
        margin-bottom: 5rem;
        .boxcenter{
            .bg-bmi-title{
                width: 100%;
                height: 10rem;
                /* background-color: blue; */
                .bmi-title{
                    font-size: 2vw;
                    color: #b82424;
                    font-family: 'Anton', sans-serif;
                    text-align: center;
                }
                .bmi-small{
                    font-size: 1.2vw;
                    color: #b82424;
                    font-family: 'Signika', sans-serif;
                    text-align: center;
                }
            }
        }
        .bg-display-bmi{
            .boxcenter{
                width: 70%;
                min-height: 25rem;
                background-color: white;
                box-shadow:
                0 0px 0.4px rgba(0, 0, 0, 0.022),
                0 0px 0.9px rgba(0, 0, 0, 0.032),
                0 0px 1.8px rgba(0, 0, 0, 0.04),
                0 0px 3.1px rgba(0, 0, 0, 0.048),
                0 0px 5.8px rgba(0, 0, 0, 0.058),
                0 0px 14px rgba(0, 0, 0, 0.08)
              ;
                border-radius: 10px;
                display: flex;
                .bg-bmi-left{
                    width: 50%;
                    min-height: 100%;
                    /* background-color: yellow; */
                    .bg-bmi-show{
                        width: 100%;
                        min-height: 100%;
                        background-color: #ffffff;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(206,960,468)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffc2b5'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='1354' height='1128.3' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
                        background-attachment: fixed;
                        background-size: cover;
                        border-radius: 10px 0px 0px 10px;
                        text-align: center;
                        font-family: 'Signika', sans-serif;
                        font-size: 1vw;
                        padding: 120px 55px 0px 55px;
                        color: #dd4e4e;
                        .bmi-about-title{
                            font-size: 1.5vw;
                            color: #b82424;
                        }
                    }
                }
                .bg-bmi-right{
                    width: 50%;
                    min-height: 25rem;
                    /* background-color: red; */
                    padding: 30px 70px;
                    .bg-bmi-form{
                        width: 100%;
                        min-height: 100%;
                        /* background-color: blueviolet; */
                        padding: 20px;
                        .bmi-form-title{
                            font-family: 'Merriweather Sans', sans-serif;
                            font-size: 1.5vw;
                            font-weight: 900;
                            margin-bottom: 50px;
                            color: #b82424;
                            text-align: center;
                            .bmi-form-title-small{
                                font-family: 'Signika', sans-serif;
                                font-size: 1vw;
                                color: rgb(190, 190, 190);
                                letter-spacing: 5px;
                            }
                        }
                        form{
                            .form-group{
                                label{
                                    font-family: 'Noto Sans', sans-serif;
                                    font-size: 1vw;
                                    font-weight: bold;
                                    color: #545151;
                                }
                                input{
                                    border-radius: 5px;
                                    background-color: #f1f1f1;
                                    border: none;
                                }
                                select{
                                    border-radius: 5px;
                                    background-color: #f1f1f1;
                                    border: none;
                                }
                                .calc{
                                    padding: 5px 20px;
                                    background-color: white;
                                    border: solid deeppink 1px;
                                    font-family: 'Signika', sans-serif;
                                    transition: 0.5s;
                                    border-radius: 5px;
                                    width: 50%;
                                    margin-top: 2rem;
                                }
                                .calc:hover{
                                    cursor: pointer;
                                    background-color: rgb(253, 151, 151);
                                    border: solid rgb(253, 151, 151) 1px;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
}
    /* ti le mo */
}
/* /article */

/* footer */
    footer{
        .bg-footer{
            width: 100%;
            height: 28rem;
            background-color: rgb(253, 198, 198);
            .boxcenter{
                .bg-title-find{
                    width: 100%;
                    height: 5rem;
                    /* background-color: brown; */
                    text-align: center;
                    font-family: 'Anton', sans-serif;
                    font-size: 2vw;
                    color: white;
                }
            }
            .boxcenter{
                display: flex;
                .box-find-1{
                    width: 33.3%;
                    height: 20rem;
                    /* background-color: burlywood; */
                    padding: 100px;
                    font-size: 1.5vw;
                    font-family: 'Anton', sans-serif;
                    .title-1{
                        color: #ee6363;
                        i{
                            color: white;
                        }
                    }
                    .infor-1{
                        margin-top: 5px;
                        font-size: 1vw;
                        font-family: 'Signika', sans-serif;
                        color: white;
                    }
                }
                .box-find-2{
                    width: 33.3%;
                    height: 20rem;
                    /* background-color: rgb(168, 95, 0); */
                    padding: 100px;
                    font-size: 1.5vw;
                    font-family: 'Anton', sans-serif;
                    .title-2{
                        color: #ee6363;
                        i{
                            color: white;
                        }
                    }
                    .infor-2{
                        margin-top: 5px;
                        font-size: 1vw;
                        font-family: 'Signika', sans-serif;
                        color: white;
                    }
                }
                .box-find-3{
                    width: 33.3%;
                    height: 20rem;
                    /* background-color: rgb(192, 192, 192); */
                    padding: 100px;
                    font-size: 1.5vw;
                    font-family: 'Anton', sans-serif;
                    .title-3{
                        color: #ee6363;
                        i{
                            color: white;
                        }
                    }
                    .infor-3{
                        margin-top: 5px;
                        font-size: 1vw;
                        font-family: 'Signika', sans-serif;
                        color: white;
                    }
                }
            }
        }
        .icon{
            padding: 5px;
            .boxcenter{
                i{
                    padding: 5px;
                }
            }
        }
    }
/* /footer */

/********* Long css **********/

article .bg-ti_le_mo {
    width: 100%;
    height: 45rem;
    position: absolute;
    top: 0px;
    background-color: white;
  }

  article .bg-bmi {
    width: 100%;
    height: 45rem;
    position: absolute;
    top: 0px;
    background-color: white;
  }

  article .bg-calo {
    width: 100%;
    height: 45rem;
    position: absolute;
    top: 100;
    top: 0px;
    transition: 1s;
    background-color: white;
    margin-top: 0;
  }

  .mainCount {
    position: relative;
    min-height: 1000px;
  }

  .mainCount .form_main {
    margin-top: 5rem;
  }

  .opacity_fadeOut {
    animation-name: opacity_fadeOut;
    animation-duration: 1.2s;
  }

  @keyframes opacity_fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .opacity_fadeIn {
    animation-name: opacity_fadeIn;
    animation-duration: 1.2s;
  }

  @keyframes opacity_fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .z-index-1 {
    z-index: 1;
  }

  .z-index-2 {
    z-index: 2;
  }

  .opacity-0 {
    opacity: 0;
  }

  .opacity-1 {
    opacity: 1;
  }

  .mt-Down50 {
    margin: -50px;
  }

  .w-90 {
    width: 90%!important;
  }
